{% extends "SysMap/base.html" %}
{% block content %}
    <h1>About Page</h1>

    <p>
        The goal of this web application is to provide the user with static transit stop locations throughout the C-Tran service map and dynamic vehicle location data to better improve accuracy of static GPS positioning data of C-Tran transit stops. 
    </p>
    <p>
        The web application, based upon a Django framework supported by a postgresql database, is developed to support 2 functionalities: 
    </p>    
    <p>
        First, the user is given a system view of transit stop locations for the January – April service period. The stop locations circled orange are stop locations in which the calculated percent error based on dynamic vehicle stops have exceeded the 30 meter accept distance.
    </p>
    <p>
        Second, a user may click on a particular stop location, which transitions to another web page which displays the selected stop location along with all the dynamic vehicle location data pertaining to the selected stop. This page, known as the single stop page, shows the user where transit bus locations are flagging the database as their GPS stopping point in relation to the stop location’s GPS coordinates. 
    </p>


{% endblock content %}