{% extends "SysMap/base.html" %}
{% block content %}
    {% load leaflet_tags %}
   
    <head>
    {% leaflet_css %}
    {% leaflet_js %}
    </head>


      
    
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}

   
    

  <body>{% leaflet_map "system_map" callback="map_init" %}
  
    <script>
          //This function initalizes the map with all stops from bus_stop table
          function map_init(map, options){
            {% for stop in bus_stops %} 
              var lat = "{{stop.stop_lat}}";
              var long ="{{stop.stop_lon}}";
              L.marker([lat,long]).addTo(map)
              //.bindPopup('<b>'+ "{{stop.stop_id}}" + '</b><br/>' + "{{stop.stop_name}}").openPopup()
              .on("dblclick", markerClick);
            {% endfor %}
           map.setView([45.656, -122.584], 15);
          }

          //This function get called when double clicking a marker. It then passes the marker's coords to the single_stop page
          function markerClick(e){
          var coords = e.latlng;
          var lat = coords.lat;
          var long = coords.lng;
          var url = "{% url 'SysMap-single_stop' lat=1 long=2 %}";
          
          var stopObj = {
            1: lat,
            2: long
          }

          
          document.location.href = url.replace(/1|2/gi, function(matched){
            return stopObj[matched];
          });
        }
    </script>
</body>
{% endblock content %}



