{% extends "SysMap/base.html" %}
{% block content %}
    {% load leaflet_tags %}
    {% load static %}

   
    <head>
    {% leaflet_css %}
    {% leaflet_js %}
    
    </head>

    
  <body>{% leaflet_map "system_map" callback="map_init" %}

    <script>

      
      var customIcon = L.Icon.extend({
          options: {
            iconSize:     [38, 95],
            shadowSize:   [50, 64],
            iconAnchor:   [22, 94],
            shadowAnchor: [4, 62],
            popupAnchor:  [-3, -76]
          }
      });
      
      //This function initalizes the map with all stops from bus_stop table
      function map_init(map, options){
        var err_count = 0;
        var pct_err = {{pct_error_dict|safe}};

        {% for stop in bus_stops %} 
          var lat = "{{stop.stop_lat}}";
          var long ="{{stop.stop_lon}}";
          var stop_id = "{{stop.stop_code}}";
          var stop_name = "{{stop.stop_name}}";
          
          if (Number(pct_err[stop_id]) >= .8){
            L.circleMarker([lat,long], {title: stop_id, color: "#d55e00", alt: stop_name}).addTo(map)
            .on("dblclick click", markerEvent)
            err_count = err_count + 1;

          } 

          L.circleMarker([lat,long], {title: stop_id, alt: stop_name, color: "#0072b2", radius: 2}).addTo(map)
          .on("dblclick click", markerEvent)
            
        {% endfor %}
        console.log(err_count);
        map.setView([45.656, -122.584], 15);  
      }

      //This function get called when double clicking a marker. It then passes the marker's coords to the single_stop page
      function markerEvent(e){
        if (e.type == "dblclick"){
          var code = this.options.title;
          var coords = e.latlng;
          var lat = coords.lat;
          var long = coords.lng;
          var url = "{% url 'SysMap-single_stop' lat=1 long=2 code=3 %}";
        }
        //need to adjust the stop_id vs stop_code
        else if(e.type == "click"){
          var stop_id = document.getElementById('stop_id');
          var stop_code = document.getElementById('stop_code');
          var stop_name = document.getElementById('stop_name');
          stop_name.textContent = this.options.alt;
          stop_code.textContent = this.options.title;

        }
          
          var stopObj = {
            1: lat,
            2: long,
            3: code
          }

          //Function uses regex to replace url inputs. Will likey need to be expaned in the future.
          document.location.href = url.replace(/1|2|3/gi, function(matched){
            return stopObj[matched];
          });
        
      }
    </script>
</body>
{% endblock content %}



