{% extends "SysMap/base.html" %}
{% block content %}
{% load leaflet_tags %}
   
<head>
{% leaflet_css %}
{% leaflet_js %}

</head>
<h1>Lat is {{lat}}</h1><br/>
<h1>Long is {{long}}</h1><br/>
<h1>Code is {{code}}</h1>

<body>{% leaflet_map "system_map" callback="single_stop_init" %} </body>

<script>
    function single_stop_init(map, options){
        L.marker([{{lat}},{{long}}]).addTo(map);
        map.setView([{{lat}}, {{long}}], 13);
        {% for event in stop_instances %} 
            var elat = "{{event.y_coordinate}}";
            var elong ="{{event.x_coordinate}}";
            var ecode = "{{event.location_id}}";  //this does pass the stop code to the local variable. I need to figure out how
            // to assign it to the marker so it can be passed when the marker is clicked.
        
            var marker = L.circleMarker([elat,elong], {radius: 2}).addTo(map) //default way to add a point onto the map.
            //.bindPopup('<b>'+ "{{stop.stop_code}}" + '</b><br/>' + "{{stop.stop_name}}" + lat + long).openPopup()
            //.on("dblclick click", markerEvent)
           
        {% endfor %}
        
        // to assign it to the marker so it can be passed when the marker is clicked.
        
    }
</script>


</body>
{% endblock content %}
